.navbar{
    width: 100%;
    background-color: #2C3E50;
    height: 80px;
}

.start{
    font-weight: bold;
}

.rightport{
    padding-right: 30px;
}

.namebox{
    height: 150px;
}


.blue{
    width: 100%;
    background-color: #2C3E50;
    height: 100px;
}

.green{
    width: 100%;
    background-color: #1ABC9C;
    height: 700px;
}

.portf{
    width: 100%;
    background-color: white;
    height: 800px;
}

.contacts{
    width: 100%;
    background-color: white;
    height: 800px;
}


.lightblue{
    width: 100%;
    background-color: #3A546D;
    height: 150px;
}

.avatar img{
    width: 400px;
    margin: auto;
    padding-top: 30px;
}

.avatar h1{
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
    color: white;
    font-size: 50px;
}

.avatar h3{
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
    color: white;
    font-size: 30px;
}


.avatar i{
    text-align: center;
    color: white;
}


.cakes img{
    width: 400px;
    margin-bottom: 25px;
    border-radius: 15px;
}

.cakes h2{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 25px;
}

.cakes i{
    text-align: center;
    margin-bottom: 25px;
}

.about h2{
    text-align: center;
    color: white;
    padding: 50px;
}

.sampletxt{
    color: white;
    height: 400px;
    text-align: left;
}

.contacts h1{
    text-align: center;
    margin: 50px;
}

.contacts p{
    padding: 15px;
}

.contacts div:last-of-type{
    padding-bottom: 80px;
}

.downloadbtn{
    margin-left: 50px;
}

.firstfoot{
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 30px;
}

.lastfoot{
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
}